* {
	font-family: verdana, trebuchet, sans-serif;
}
#header{
  background:#87CEFA;
  width:100%;
  height:60px;
  text-align: center;
}

#party {
	width: 80%;
}

#carrier {
	font-size: 10%;
	text-align: left;
	padding: 20px;
	border-width: 0px 2px 2px 0px;
	border-color: #c00;	
}

#footer{
  background:#87CEFA;
  width:100%;
  height:60px;
}

input  {
  font-size: 16px;
  padding: 4px;
  color:Blue;
  text-transform:capitalize;
  cursor:text;
  }
 
 fieldset {
	 border:none;
 }
 
 h2 {
	 text-align:center;
 }

.block_full {
  width: 100%;
  background: #f0f0f0;
  padding: 10px;
} 

.block_full .result .row input {
  width: 80 %;
} 

table {
  width: 100 %;
  background: #f0f0f0;
  padding: 10px;
}  

td {
	width: 50 %;
	vertical-align: baseline;
}
  
.result {
  width: 100%;
}

.row {
  margin-top: 1em;
  width: 100%;
  }

 
.row label {
  display: block;
  min-width: 10em;
  width: 80%;
}

.row input, .row textarea {
  width: 80%;
}